.dropbtn {
    
    padding: 16px;
    font-size: 16px;
    border: none;
    background-image: url(Media/Menu4.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 75px;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    float: right;
    position: sticky;
    top: 0;
    border-radius: 25px;
    background-color: rgba(33,87,50,255);
    height: auto;
    width: 200px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightsalmon;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(236, 119, 72);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: grey;}


-----Html zooi----

  <div class="dropdown">
        <button class="dropbtn"></button>
        <div class="dropdown-content">
          <a href="#">Contact</a>
          <a href="#">Live Cams</a>
          <a href="#">Animal's</a>
          <a href="#">Tickets / Parkmap</a>
        </div>
      </div>