* {  
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
 --color-primary: #6c63ff;  
 --color-success: #00bf8e;
 --color-warning: #f7c94b;
 --color-danger: #f75842;
 --color-danger-variant: rgba(247, 88, 66, 0.4);
 --color-white: #fff;
 --color-light: rgba(255, 255, 255, 0.7);
 --color-black: #000;
 --color-bg: #1f2641;
 --color-bg1: #2e3267;
 --color-bg2: #424890;

 --container-width-lg: 76%
 --container-width-md 90%;
 --container-width-sm: 94%;

 --transition: all 400ms ease;
}

body{
    font-family: 'Brush Script MT';
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);

}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    
}