h1 {
    color: rgb(109, 89, 12);
    text-align: center;
}
body {
    background-color: peru;
}
p {
    font-size: large;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
.stokstaartje img {
    width: 400px;
    padding-left: 800px;
}